libTimberWolf.so*
libTimberWolf.a*
libTimberWolf.dll*
libTimberWolf.lib*
libTimberWolf.dylib*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
/include/TimberWolf/TimberWolf.hpp
TimberWolf.pc
TimberWolfConfig.cmake
TimberWolfConfigVersion.cmake
TimberWolfTargets.cmake
Makefile
Doxyfile
/docs
